<?xml version="1.0" encoding="ISO-8859-1"?>
<Policy version="0.1" type="value" model="bruteforce.pomdp" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="policyx.xsd">
<AlphaVector vectorLength="2" numObsValue="1" numVectors="35">
<Vector action="0" obsValue="0">-20 -20 </Vector>
<Vector action="0" obsValue="0">96.1474 -20.0481 </Vector>
<Vector action="0" obsValue="0">96.8748 -20.0493 </Vector>
<Vector action="0" obsValue="0">105.948 -20.1015 </Vector>
<Vector action="0" obsValue="0">116.574 -20.3375 </Vector>
<Vector action="0" obsValue="0">106.002 -20.1016 </Vector>
<Vector action="0" obsValue="0">97.0215 -20.0495 </Vector>
<Vector action="0" obsValue="0">96.0701 -20.0297 </Vector>
<Vector action="0" obsValue="0">105.849 -20.0867 </Vector>
<Vector action="0" obsValue="0">116.562 -20.3211 </Vector>
<Vector action="0" obsValue="0">105.841 -20.0836 </Vector>
<Vector action="0" obsValue="0">95.9471 -20.0263 </Vector>
<Vector action="0" obsValue="0">88.059 -20.0104 </Vector>
<Vector action="0" obsValue="0">78.5845 -20.0023 </Vector>
<Vector action="0" obsValue="0">86.8024 -20.0051 </Vector>
<Vector action="0" obsValue="0">79.1871 -20.0024 </Vector>
<Vector action="0" obsValue="0">69.4464 -20.0012 </Vector>
<Vector action="0" obsValue="0">78.104 -20.0018 </Vector>
<Vector action="0" obsValue="0">71.5538 -20.0013 </Vector>
<Vector action="0" obsValue="0">116.558 -20.3106 </Vector>
<Vector action="0" obsValue="0">105.804 -20.0723 </Vector>
<Vector action="0" obsValue="0">95.9009 -20.0174 </Vector>
<Vector action="0" obsValue="0">86.8006 -20.0047 </Vector>
<Vector action="0" obsValue="0">78.5637 -20.0019 </Vector>
<Vector action="0" obsValue="0">71.9032 -20.0013 </Vector>
<Vector action="0" obsValue="0">49.8464 -20.0002 </Vector>
<Vector action="0" obsValue="0">68.1792 -20.0005 </Vector>
<Vector action="0" obsValue="0">77.9225 -20.0013 </Vector>
<Vector action="0" obsValue="0">86.69 -20.0043 </Vector>
<Vector action="0" obsValue="0">95.8825 -20.017 </Vector>
<Vector action="0" obsValue="0">105.802 -20.0719 </Vector>
<Vector action="0" obsValue="0">116.558 -20.3103 </Vector>
<Vector action="0" obsValue="0">128.231 -21.345 </Vector>
<Vector action="1" obsValue="0">154.656 -45.3445 </Vector>
<Vector action="0" obsValue="0">140.902 -25.8377 </Vector>
</AlphaVector> </Policy>
