<?xml version="1.0" encoding="ISO-8859-1"?>
<Policy version="0.1" type="value" model="bruteforce.pomdp" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="policyx.xsd">
<AlphaVector vectorLength="2" numObsValue="1" numVectors="35">
<Vector action="0" obsValue="0">-20 -20 </Vector>
<Vector action="0" obsValue="0">-20.0481 96.1474 </Vector>
<Vector action="0" obsValue="0">-20.0493 96.8748 </Vector>
<Vector action="0" obsValue="0">-20.1015 105.948 </Vector>
<Vector action="0" obsValue="0">-20.3375 116.574 </Vector>
<Vector action="0" obsValue="0">-20.1016 106.002 </Vector>
<Vector action="0" obsValue="0">-20.0495 97.0215 </Vector>
<Vector action="0" obsValue="0">-20.0297 96.0701 </Vector>
<Vector action="0" obsValue="0">-20.0867 105.849 </Vector>
<Vector action="0" obsValue="0">-20.3211 116.562 </Vector>
<Vector action="0" obsValue="0">-20.0836 105.841 </Vector>
<Vector action="0" obsValue="0">-20.0263 95.9471 </Vector>
<Vector action="0" obsValue="0">-20.0104 88.059 </Vector>
<Vector action="0" obsValue="0">-20.0023 78.5845 </Vector>
<Vector action="0" obsValue="0">-20.0051 86.8024 </Vector>
<Vector action="0" obsValue="0">-20.0024 79.1871 </Vector>
<Vector action="0" obsValue="0">-20.0012 69.4464 </Vector>
<Vector action="0" obsValue="0">-20.0018 78.104 </Vector>
<Vector action="0" obsValue="0">-20.0013 71.5538 </Vector>
<Vector action="0" obsValue="0">-20.3106 116.558 </Vector>
<Vector action="0" obsValue="0">-20.0723 105.804 </Vector>
<Vector action="0" obsValue="0">-20.0174 95.9009 </Vector>
<Vector action="0" obsValue="0">-20.0047 86.8006 </Vector>
<Vector action="0" obsValue="0">-20.0019 78.5637 </Vector>
<Vector action="0" obsValue="0">-20.0013 71.9032 </Vector>
<Vector action="0" obsValue="0">-20.0002 49.8464 </Vector>
<Vector action="0" obsValue="0">-20.0005 68.1792 </Vector>
<Vector action="0" obsValue="0">-20.0013 77.9225 </Vector>
<Vector action="0" obsValue="0">-20.0043 86.69 </Vector>
<Vector action="0" obsValue="0">-20.017 95.8825 </Vector>
<Vector action="0" obsValue="0">-20.0719 105.802 </Vector>
<Vector action="0" obsValue="0">-20.3103 116.558 </Vector>
<Vector action="0" obsValue="0">-21.345 128.231 </Vector>
<Vector action="1" obsValue="0">-45.3445 154.656 </Vector>
<Vector action="0" obsValue="0">-25.8377 140.902 </Vector>
</AlphaVector> </Policy>
